$oty_red: #db1d0f;
$oty_grey: #ededed;

@import '../bower_components/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family:'Aleo';
    src: url('/assets/fonts/aleo-regular-webfont.woff');
}

body, html {
    margin: 0;
}

body {
    background-color:#ffffff;
}

a {
	outline: none;
	color: $oty_red;
}

a:hover {
	outline: none;
	color: #c31a0d;
}

nav {
    display: block;
    height: 100px;
    background-color: $oty_grey;
    width: 100%;
    .navlink {
        text-transform: uppercase;
        text-decoration: none; 
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
        transform: translateY(-50%);
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* Mobile (default) */
article {
    padding-left: 6%;
    padding-right: 6%;
}

header {
    background-color: $oty_red;

    .site-title {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0;
        font-weight: normal;

         a {
            text-decoration: none;
            font-family: 'Aleo', sans-serif;
            color: #ffffff;
        }
    }

    .site-subtitle {
        font-family: 'Open Sans', serif;
        color: #fff;
        text-align: center;
        margin: 0;
        padding-bottom: 60px;
    }

    /* The padding on the .skyline-inner element is critical:
     * https://www.smashingmagazine.com/2013/07/simple-responsive-images-with-css-background-images/
     */
    .skyline {
        width: 100%;
        background-size: 100%;
        background-image: url(/assets/images/skyline/600x158.png);
        background-repeat: no-repeat;
    }

    .skyline-inner {
        height: 0;
        padding-top: percentage(158/600);
    }
}

.twitter-container {
    display: none;
}

article {
    font-family: 'Cardo', serif;

    p {
        padding-bottom: 40px;
    }

    .title {
        color: $oty_red;    
        font-weight: normal;
    }
}

footer {
    background-color: $oty_red;
    text-align: center;
    color: #fff;
    padding: 80px;

    .contact-me {
        padding-bottom: 30px;
    }

    .fa {
        font-size: 3em;
        padding-left: 30px;
        &:first-child {
            padding-left: 0;
        }
    }

    a {
        color: #fff;
    }
}


@media screen and (min-width: 300px) and (min-resolution: 2dppx) {
    header {
        .site-title {
            font-size: 6em;
        }

        .site-subtitle {
            font-size: 0.8em;
        }
    }
}


@media screen and (min-width: 600px) and (max-resolution: 1dppx) {
    header {
        .skyline {
            background-image: url(/assets/images/skyline/1920x279.png)
        }

        .skyline-inner {
            padding-top: percentage(279/1920);
        }

        .site-title {
            padding-bottom: 10px;
        }

        .site-subtitle {
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1000px) {
    $padding_left: 15%;

    main {
        /* Clearfix pseudo-element. */
        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }

    .twitter-container {
        display: block;
        float: left;
        padding: 0 5%;
        width: 25%;
    }

    nav {
        height: 44px;
        margin-bottom: 40px;
        padding-left: $padding_left;
        width: 100 - $padding_left;

        .navlink {
            font-size: inherit;
            padding-left: 0;
        }
    }

    article {
        width: 40%;
        padding-left: $padding_left;
        float: left;

        p {
            padding-bottom: 0;
            font-size: 1.2em;
            line-height: 1.5em;
        }

        .title {
            font-size: 2.5em;
        }
    }
}

