@import './bower_components/bootstrap/scss/_variables.scss';
@import './bower_components/bootstrap/scss/_mixins.scss';

@import './css/variables.scss';

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

$primary-font-size: 1.1 * 18px;
$primary-line-height-scaling-factor: 1.2;

$grid-cell-size: $primary-font-size * $primary-line-height-scaling-factor;
$grid-cell-color: #c5c9cd;

body {
    position: relative;
    overscroll-behavior: none;
}

main {
    padding-top: 0;
}

article, .footer {
    margin: 0 $grid-cell-size;
    color: black;
    font-size: $primary-font-size;

    .title {
        padding-top: $grid-cell-size;
        padding-bottom: $grid-cell-size;
    }

    p, li {
        line-height: $primary-line-height-scaling-factor;
        margin: 0 0 $grid-cell-size;
        padding: 0;
    }
}

scrolling-game-of-life {
    display: block;
    color: $grid-cell-color;
    position: relative;
    z-index: -1;
}

.content {
    font-family: sans-serif;
    font-size: $primary-font-size;
}

.caption, .footer {
    font-style: italic;
    color: $grid-cell-color;
}

.caption {
    text-align: center;
}

.acknowledgment {
    font-style: normal;
}

.footer {
    h3 {
        font-style: normal;
        margin-top: 40px;
    }

    ul {
        list-style-type: none;
    }

    a {
        color: tint($brand-primary, 60%);
    }
}

pattern-anchor.interaction-prompt {
    margin-left: 20px;
}



// smartphones, touchscreens
@media (hover: none) and (pointer: coarse) {
    .clickable {
        display: none;
    }
}

// mouse, touch pad
@media (hover: hover) and (pointer: fine) {
    .tappable {
        display: none;
    }
}


/*
// Tablets and up
@include media-breakpoint-up(md) {
    .content {
        // width: $article-width;
        width: 600px;
        margin: 0 auto;
    }
}
*/