@import './bower_components/bootstrap/scss/_variables.scss';
@import './bower_components/bootstrap/scss/_mixins.scss';

$primary-font-size: 1.5 * 18px;
$primary-line-height-scaling-factor: 1.2;

$grid-cell-size: $primary-font-size * $primary-line-height-scaling-factor;

.body {
    margin: 0;
    position: relative;
    overscroll-behavior: none;
}

p {
    font-size: $primary-font-size;
    font-family: sans-serif;
    line-height: $primary-line-height-scaling-factor;
    margin: 0 0 $grid-cell-size;
}

.title {
    padding-top: 4 * $grid-cell-size;
    padding-bottom: 4 * $grid-cell-size;
}

.content {
    margin: 0 (2 * $grid-cell-size);
}

scrolling-game-of-life {
    display: block;
}

pattern-anchor {
    display: block;
    width: 100%;
}

/*
// Tablets and up
@include media-breakpoint-up(md) {
    .content {
        // width: $article-width;
        width: 600px;
        margin: 0 auto;
    }
}
*/